.introduction {
    font-family: "Didot", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    border-style: hidden;
    max-width: max-content;
    margin: 0 auto;
    color: #372e29;
    border: 0px solid black;
}

@media screen and (min-width: 650px) {
    .introduction {
        flex-direction: row;
    }
}