body {
  margin: 0;
  font-family: "Didot", sans-serif;
  background-image: url("./backgroundimg.jpg");
}

/*container styles*/

#main-container {
  background: transparent;
  max-width: 90%;
  margin: auto;
}

.column {
  background-color: transparent;
}

#product-container {
  background: transparent;
  margin: auto;
  flex-wrap: wrap;
}

#products {
  flex-wrap: wrap;
}

.card {
  flex-grow: 3;
}

@media screen and (max-width: 692px) {
  .card {
    flex-shrink: 3;
  }
}
/* header styles */

#header {
  display: flex;
  /* background: transparent; */
  margin: auto;
  padding-bottom: 25px;
  justify-content: center;
  align-content: center;
  width: 90%;
  font-size: 50px;
}

.header-icons {
  display: flex;
}

.header-content {
  color: white;
}

.subtitle {
  text-align: center;
  letter-spacing: 5px;
  max-width: 100%;
}

/* product styles */

.card {
}

.inStock {
  color: green;
}

.outOfStock {
  color: red;
}

.limitedStock {
  color: orange;
}
/* menu styles */

.cart:hover {
  opacity: 0.5;
}

/*Search styles */

/* full prod styles */

#back-button {
  margin-top: 10px;
  margin-bottom: 20px;
}

#prod-quantity {
  width: 90px;
}

#prod-increment {
  margin-left: 5px;
}

#fullprod-button {
  max-width: 300px;
  flex-direction: column;
}

#error-message {
  color: red;
}

#options {
  width: 200px;
}
