body {
  margin: 0;
  font-family: "Didot", sans-serif;
  background-image: url("./backgroundimg.jpg");
}

/*container styles*/

#main-container {
  background: transparent;
  max-width: 90%;
  margin: auto;
}

.column {
  background-color: transparent;
}

#product-container {
  background: transparent;
}

/* header styles */

#header {
  display: flex;
  /* background: transparent; */
  margin: auto;
  padding-bottom: 25px;
  justify-content: center;
  align-content: center;
  width: 90%;
  font-size: 50px;
}

.header-icons {
  display: flex;
}

.header-content {
  color: white;
}

.subtitle {
  text-align: center;
  letter-spacing: 5px;
  max-width: 100%;
}

/* product styles */
