body {
  background-color: rgba(243, 236, 236, 0.915);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* feed styles */

.container {
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.column {
  border: 1px solid black;
  margin-right: 20px;
  max-width: 50%;
}

.column:last-of-type {
  margin-right: 0px;
}

#extra {
  overflow: visible;
}

#profile-view {
  margin: auto auto 50px;
  text-align: center;
}

.meta {
  width: 100px;
}

.commentPost {
  border: 1px solid black;
  width: 200px;
}

.commentPostText {
  background-color: white;
  width: 200px;
}
